* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --bg: #F3EEF1;
    --accent: #D56989;
    --accent-light: #EA9CAF;
    --green: #C2DC80;
}

body {
    background: var(--bg);
    color: #222;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: var(--accent);
    border-radius: 0 0 10px 10px;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: .2s;
}

.menu a:hover {
    color: var(--green);
}

.hero {
    height: 75vh;
    background: linear-gradient(135deg, var(--accent), var(--accent-light));
    color: white;
    text-align: center;
    padding-top: 140px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 52px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

.hero button {
    margin-top: 25px;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    background: white;
    color: var(--accent);
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.hero button:hover {
    background: var(--green);
    color: #222;
}


.section {
    padding: 70px 120px;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    color: var(--accent);
    margin-bottom: 20px;
}


.team-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-card {
    width: 230px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    padding: 18px;
}

.team-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.team-card h3 {
    margin-top: 12px;
    color: var(--accent);
}

.team-card p {
    color: #444;
}


footer {
    background: var(--accent);
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 30px;
}
.lang-switch {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    padding: 6px 12px;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    border: 1px solid #ddd;
}

.lang-switch span {
    opacity: 0.5;
    transition: 0.2s;
}

.lang-switch .active {
    opacity: 1;
    color: #D56989; 
}
.lang-switch a{
    text-decoration: none;
       color: #D56989;
}